extends layout

block content
    #about.section.white
        .row.container
            h2.header about
            p
                | Founded in 2015, SafeTelecom is commited to providing you and your family with the most premium mobile phones on the market without compromising your standards of kashrus. Our products feature the KosherOS operating system, a groundbreaking Android-based system to run on the latest, most current phones available.
            p
                | We've built our system from the ground up to optimize the speed, security and stability that are an absolute necessity for today's demanding mobile phone applications. We make sure there is no browser available on the phone and include our own SafeTelecom App Store to provide you with the largest selection of apps for your needs without compromising on the function and versatility of your smartphone.
            p
                | All our phones are always brand-new from the manufacturer. The phones are compatible with most major carriers in the US, Canada, Europe and Israel and in most cases, are easily switchable between those carriers.
            .row.center
                img(style='max-height:7em; max-width:100%;', src='https://res.cloudinary.com/safetelecom/image/upload/f_auto,q_auto/images/new_safetelecom_path.svg', alt='KosherOS by SafeTelecom')
            .row.center
                a.hide-on-small-only.waves-effect.waves-light.btn.btn-large(href='/shop') shop our phones
