.row.container.white
    // Begin MailChimp Signup Form
    #mc_embed_signup.center-align
        form#mc-embedded-subscribe-form.col.s12(action='https://thekosheros.us11.list-manage.com/subscribe/post?u=d33c436e2a6b4c42b5f6c1862&id=08777fab18', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
        #mc_embed_signup_scroll.container
            .row
            label.col.s12(for='mce-EMAIL')
                h5 Want the latest SafeTelecom news? Subscribe to our mailing list.
            .row
            .input-field.col.s12.m9
                input#mce-EMAIL.email(type='email', value='', name='EMAIL', required='')
                label(for='mce-EMAIL') Email Address
            .input-field.col.s12.m3
                button#mc-embedded-subscribe.waves-effect.waves-light.btn(type='submit', name='subscribe') Subscribe
            input(type='text', name='b_d33c436e2a6b4c42b5f6c1862_08777fab18', tabindex='-1', value='', style='display:none')
// End mc_embed_signup
.footer-copyright
    .container
        span.grey-text.text-lighten-4
        | Made with 
        i.fa.fa-heart
        |  in NYC by 
        a.grey-text.text-lighten-4.underline(href='http://safetelecom.net') SafeTelecom
        span.right © 2018 SafeTelecom
