extends layout

block content
    #kosher-os.section.white
        .row.container
            h2.header KosherOS
            .description
            p
                | All SafeTelecom Mobile phones are preloaded with the groundbreaking Android-based KosherOS operating system. We engineered KosherOS from the ground up by scrutinizing and crunching countless lines of computer code.
            p
                | This method ensures that we have full control of what software is running on your phone. We don't mask or block any unapproved software - we simply don't include it in the first place. The software is designed to run smooth and efficient with a fast interface that includes all the software you need to run your device at peak efficiency.
            h5 Fastest Browser-Free Guarantee
            p
                | Your device will never ship with any browser included and we don't have to rely on any third-party filtering solutions. All the content is filtered from within the software code included in your phone, so your Internet will always "just work" with the fastest and most direct possible connection to your cellular carrier.
            h5 SafeTelecom App Store
            p
                | Each device includes our revolutionary SafeTelecom App Store - a first of it's kind for any phone in it's class. All the apps in the store has been meticulously inspected to make sure there is no possible way to access the Internet through a "backdoor" browser and bypass our restrictions. You as a customer have full control of which categories of apps are included in your App Store, so you never have to compromise on any of your standards to get our devices. Our database of pre-checked apps numbers well over 100, and we are constantly adding more to make our offering as robust as possible. Additionally, if an app ever becomes obsolete and requires an upgrade, the App Store will install the upgrade to the customer's device without requiring a visit to a retail location.
            h5 Full Google Integration
            p
                | KosherOS provides the ability to fully integrate your phone with all your Google services. Your contacts, calendar, notes (via Google Keep) and email are automatically synced and backed up in the cloud to your Google account. This unprecedented level of integration is made possible by the innovations unique to the KosherOS system.
            h5 Premiere Performance
            p
                | KosherOS is designed to be the premiere "kosher" system that gives you the most efficiency, performance, stability and integration that can be expected from a modern smartphone. Our system is capable of sending out periodic update packages directly to your device. Updates include performance and kashrus enhancements to help keep our phones running in the best possible shape and with the most up-to-date protection from any undesired content. We are committed to constantly testing our kashrus protections and make sure your device will keep up with the ever-evolving technologies.
            p
                | Join us in the newest revolution in digital safeguards. Enjoy the best of what a smart phone can offer without compromising on your precious standards. Try KosherOS out today!
        .row.container.center
            a.btn.btn-large.waves-effect.waves-light(href='/shop') Shop Now
