script(src='//cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js')
script(async, src='/js/olark.js')
//
    script.
        (function(s,u,m,o,j,v){j=u.createElement(m);v=u.getElementsByTagName(m)[0];j.async=1;j.src=o;j.dataset.sumoSiteId='f8a048a732f102f69efce44d73c72a1b91765794ccc07ef83397d37815bffa67';v.parentNode.insertBefore(j,v)})(window,document,'script','//load.sumo.com/')
script.
    $(() => {
        $('.sidenav').sidenav();
    })