extends layout
block content
  .section.grey.lighten-3
    .row.container
       h2.header System Status
       p These are the latest status updates and advisories on the KosherOS system. Please feel free to reach out with any questions or concerns.
    .row.container
      each card in cards
        .card
          .card-content.row
            .col.s3.l2
              .center-align.valign-wrapper
                div
                  img.responsive-img(src=card.attachments[0].previews[1].url)
            .col.s9.l10
              h5.title= card.name
              p= card.desc
